

<div id="bodyDiv">
    <h1>Welcome To The Crazy Cat Lady's Page</h1>
    <p>Hover Over Menu to Signup or Login</p>
    <div id="imageDiv">

        <div>
            <div class="dropdown">
                <button class="dropbtn">MENU</button>
                <div class="dropdown-content">
            <!--<a id="profile" href="/clientLogin">Profile</a>-->  
        
                    <!--<a id="profile" href="/clientLogin">Profile</a>-->  
                    <a id="signup" href="/clientSignup">Client Signup</a>
                    <a  href="/clientLogin">Client Login</a>
                    <a  href="/private">Profile</a>
                <div>
            </div>
        </div>




    </div>   
</div>