 
<a href="/main">Home</a>

<h1>Welcome {{ clientInSession.clientname }}, to your very own private space!</h1>
  
<br>
<br>
<br>

<iframe src="https://giphy.com/embed/ICOgUNjpvO0PC" width="480" height="359" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cat-humour-funny-ICOgUNjpvO0PC">via GIPHY</a></p>

<br>
<br>
<br>

 <form id="logout-form" action="/clientLogout" method="POST">
    <button>Logout</button>
</form>